<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Tiina</h2>
                    <h3 class="section-subheading text-muted">I am a detail-oriented UX Designer passionate about improving the world through user-centric design.
                    Between managing projects in the events and non-profit industries, I have always brought user experience and business goals into harmony.
                    I leverage my strong interpersonal and professional communication skills to work collaboratively between teams to bring the entire product together and forward.
                    </h3>
                    <h3 class="section-subheading text-muted">
                    I have recently moved to Helsinki, Finland from New York and am driven by opportunities to grow with an innovative,
                    collaborative and supportive UX team.</h3>
                </div>
            </div>
        </div>
    </section>